html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('img/dan-gold-E6HjQaB7UEA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.container {
    max-width: 400px;
    background-color: #d1b8b8;
    color: rgb(60, 62, 66);
    padding: 3rem;
    border-radius: 1rem;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input, select, button.submit {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="number"] {
    width: 94%;
}
input[type="radio"] {
    width: auto;
}
.result {
    font-size: 18px;
    font-weight: bold;
}

button.reset {
    margin-left: 10px;
}